//Import bootstrap.less so we can use all the variables..
@import "../../bower_components/bootstrap/less/bootstrap.less";
/* Space out content a bit */

body {
	padding-top: 0;
	padding-bottom: 20px;
	
//	overflow: hidden;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}
/* Custom page header */

.header {
	border-bottom: 0px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}
/* Custom page footer */

.footer {
	background-color: #777;
	position: fixed;
    height: 40%;
    bottom: 0;
    width: 100%;
	
}
/* MAIN STYLES */

#mp_main {
	margin-right: 300px;

}

#mp_sidebar {
	background-color: #333333;
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 300px;
}

.sidebar-closed #mp_main {
	margin-right: 0px;
}

.sidebar-closed #mp_sidebar {
	right: -301px;
	display: none;
}
/* RESPONSIVENESS */
/* Customize container */

//@media (min-width: 768px) {
//	.container {
//		max-width: 730px;
//	}
//}
///* Responsive: Portrait tablets and up */
//
//@media screen and (min-width: 768px) {
//	/* Remove the padding we set earlier */
//	
//	.header,
//	.footer {
//		padding-left: 0;
//		padding-right: 0;
//	}
//	/* Space out the masthead */
//	
//	.header {
//		margin-bottom: 30px;
//	}
//}

.text-white {
	color: white;
}

.progress {
	height: 5px;
}

.btn-play {
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 15px 0;
	font-size: 27px;
	line-height: 1.42;
	border-radius: 50%;
}

.btn-margin-left {
	margin-left: 10px;
}

.btn-margin-right {
	margin-right: 10px;
}

//Variable Changes

@brand-primary: #ff9900;
@border-radius-base:        2px;
@border-radius-large:       2px;
@border-radius-small:       2px;

// Navbar brand label
@navbar-default-brand-color:               @brand-primary;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;


.thumbnail {
  border: 0px solid #ddd;
}

//navbar height / centering / navbar form width

@navbar-height:                    80px;
@navbar-default-color:             #ffffff;
@navbar-default-bg:                #ffffff;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

@media (min-width: 768px){
	
.navbar-form .form-control {
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}
}


//Vertical Spacers

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

//squared

.square-container{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
	
}
.square-container img{
    position: absolute;
	height: 100%;
}


.drag {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}


///* ARTISTS-VIEW STYLES */
//.container_artist{
//	padding-left: 40px;
//	padding-right: 40px;
//	padding-top: 30px;
//}
//


