<div id="mp_wrapper" class="container-fluid" ng-class="{'sidebar-closed' : !sidebar}" ng-controller="PlaylistsCtrl">
	<div class="row">
		<div id="mp_main">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<!--
						<button ng-click="toggleSidebar()" type="button" class="navbar-toggle collapsed btn navbar-btn"><span class="fa fa-caret-square-o-left fa-lg"></span>
						</button>
					-->
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="/#"><i class="fa fa-music "></i>  Plyr</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<form class="navbar-form navbar-left" ng-controller="HomeCtrl" ng-keyup="searchFor()">
								<input type="text" ng-model="$root.query" class="form-control" placeholder="Search">
							</form>
							<li ng-click="page = 'home'" ng-class="{'active' : page == 'home'}">
								<a ng-href="#/toplists">Toplists</a>
							</li>
							<li ng-click="page = 'playlists'" ng-class="{'active' : page == 'playlists'}">
								<a ng-href="#/playlists"> Your Playlists</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>


			<div id="mp_view" ui-view="mainContent">

				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading"><b>Top 10 Songs</b>
								</div>

								<div class="panel-body">
									<div class="row">
										<div class="col-md-12">
											<table class="table table-hover ">
												<thead>
													<tr>
														<th></th>
														<th>Title</th>
														<th>By</th>
														<th>Album</th>
														<th>Duration</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="song in topsongs">
														<td width="7%">
															<div class="square-container img drag" ng-href="" data-drag="true" data-target="#{{album.id}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="topsongs" jqyoui-draggable="{index: {{$index}},animate:true}">
																<a ng-href="" ng-click="passSrc(song.preview_url)"><img n-href="" ng-src="{{song.album.images[0].url}}" alt="" class="img-rounded img-responsive">
																	<i class="fa fa-play fa-2x  centered"></i>
																</a>
															</div>
														</td>
														<td>
															{{song.name}}
														</td>

														<td width="20%">
															{{song.artists[0].name}}
														</td>
														<td>
															{{song.album.name}}
														</td>
														<td>
															{{song.duration_ms /60000 | number:1}} min
														</td>
														<td class="text-right text-nowrap">

															<div class="btn-group">
																<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false" id="dropdownPlaylists">
																	<span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
																</button>
																<ul class="dropdown-menu" role="menu">
																	<li>My Playlists:</li>
																	<li ng-repeat="playlist in playlists" ng-click="addSongToPlaylist(playlist.id, song)"><a>{{playlist.name}} </a>
																	</li>
																	<input type="text" id="focus" ng-model="inputPlaylistName" class="form-control" ng-enter="addNewPlaylist(inputPlaylistName)" placeholder="Name & Create!">
																	<span class="input-group-btn">
																	<button class="btn btn-primary" type="button" ng-click="addNewPlaylist(inputPlaylistName)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
																	</button>
																	</span>
																</ul>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>


					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading"><b>Top 10 Albums</b>
								</div>
								<div class="panel-body">
									<div ng-model="albums">
										<div class="row">
											<div ng-repeat="album in topalbums">
												<div class="col-md-2">
													<div class="square-container img-rounded" ng-controller="ModalSongsCtrl">
														<script type="text/ng-template" id="ModalSongs.html">
															
														</script>
														<img ng-src="{{album.images[0].url}}" alt="" class="img-rounded img-responsive" ng-click="open()">
													</div>
													<h4><b>{{album.name}}</b></h4>
													<h5>by {{album.artist.name}} <i>artist name needed</i></h5>
												</div>



											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading"><b>Top 10 Artist</b>
							</div>
							<div class="panel-body">

								<div class="container_artist">
									<div class="row">
										<div ng-repeat="artist in topartists" class="col-xs-6 col-sm-4 col-md-2">
											<span>
												<div class="thumbnail">
													<div class="square-container img-circle" ng-controller="ModalAlbumCtrl">
													
														<img ng-src="{{artist.images[0].url}}" alt="" class="img img-rounded img-responsive" ng-click="open(artist.id)">
													</div>
												</div>
											</span>
											<h4 class="text-center"><b>{{artist.name}}</b></h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>


<div id="mp_sidebar" ui-view="musicPlayer" style="z-index:1045" data-drop="true" ng-model='queue' data-jqyoui-options="{accept:'.drag:not([ng-model=queue])'}" jqyoui-droppable="{multiple:true}">

	<div>
		<h1 class="text-center"> </h1>
	</div>
	<div class="container-fluid">
		<h1 class="text-center"> </h1>

		<div class="row" ng-show="queue[0]">
			<div class=" col-md-offset-1 col-xs-offset-1 col-xs-10 col-md-10">
				<img ng-src="{{queue[0].album.images[0].url}}" alt="" class="img-rounded img-responsive ">
			</div>
			<div class="row">
				<div class=" col-md-offset-1 col-xs-offset-1 col-xs-10 col-md-10">
					<h3 class="text-center text-white">{{queue[0].name}}</h3>
					<h5 class="text-center text-white"><i>Album by {{queue[0].artists[0].name}}</i></h5>
					<div>
						<h1 class="text-center"> </h1>
					</div>
					<div class="progress" style=" margin-bottom: 0px; ">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
						</div>
					</div>

					<div class="text-white">
						<table class="table">
							<tbody>
								<tr>
									<td align="left" style="border-top: 0 solid #ddd;">
										00:00
									</td>
									<td style="border-top: 0 solid #ddd;">

									</td>
									<td align="right" style="border-top: 0 solid #ddd;">
										00:00
									</td>
								</tr>
								<tr>
									<td style="border-top: 0 solid #ddd;"></td>
								</tr>
								<tr>
									<td style="vertical-align: middle; border-top: 0 solid #ddd;" align="right">
										<a>
											<i class="fa fa-pause fa-2x" ng-click="removeSrc()"></i>
										</a>
									</td>
									<td style="vertical-align: middle; border-top: 0 solid #ddd;" align="center">
										<a>
											<i class="fa fa-play fa-3x" ng-click="passSrc(queue[0].preview_url)"></i>
										</a>

									</td>
									<td style="vertical-align: middle; border-top: 0 solid #ddd;" align="left">
										<a>
											<i class="fa fa-step-forward fa-2x" ng-show="queue[1]" ng-click="removeFirstSongFromQueue()"></i>
										</a>
									</td>
								</tr>
							</tbody>
						</table>
						<hr/>
					</div>
				</div>
			</div>
		</div>

		<!-- QUEUE -->
		<!-- Filters have to be applied (in ng-repeat & here) in order to show newly added song at the top -->

		<h2 class="text-center text-white">Queue</h2>

		<div id="player">
			<iframe id="iframe" style="display:none" src=""></iframe>
		</div>

		<div class="thumbnail queue">
			<div class="caption">


				<div class="list-group-item" ng-repeat="song in $root.queue track by $index" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="$root.queue" jqyoui-draggable="{index: {{$index}},animate:true}">
					<h5 class="list-group-item-heading"><b>{{song.name}}</b> by {{song.artists[0].name}}<a class="glyphicon glyphicon-remove pull-right" ng-click="removeSongFromQueue(song)"></a></h5>
				</div>
				<h3 class="text-center text-primary">Drøp</h3>
				<h3 class="text-center text-primary">Søng</h3>
				<h3 class="text-center text-primary">Here</h3>
				<h3 class="text-center text-primary"><span class="glyphicon glyphicon-music"></span></h3>
			</div>
		</div>
	</div>

	<!--this should move later to the player.html-->
</div>
</div>
</div>