<div class="row">
	<div class="col-md-4">
		<div class="voffset"></div>
		<img ng-hide="$root.show" ng-src="{{item.images[0].url}}" alt="" class="img-rounded img-responsive">
		<img ng-show="$root.show" ng-src="{{$root.img}}" alt="" class="img-rounded img-responsive">
	</div>
	<div class="col-md-8">
		<div class="caption" ng-show="$root.show">
			<h1>{{item.name}}</h1>
			<h4>by {{$root.artist_name}}</h4>
		</div>
		<div class="caption" ng-hide="$root.show">
			<h1>{{item.name}}</h1>
			<h4>by {{$root.artistModal.name}}</h4>
		</div>
	</div>
</div>