<div class="container-fluid">

	<div class="row">

		<div ng-repeat="artist in artists">

			<div class="col-xs-6 col-sm-4 col-md-2" ng-controller="AlbumsCtrl">
				<a ng-href="" type="button" data-toggle="collapse" data-target="#{{artist.id}}" aria-expanded="false" aria-controls="{{artist.id}}" ng-click="getAlbumsFromArtist(artist.id)">
					<div class="thumbnail">
						<div class="square-container img-circle">
							<img ng-src="{{artist.images[0].url}}" alt="" class="img img-rounded img-responsive">
						</div>
				</a>
				<h4 align="center"><b>{{artist.name}}</b></h4>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="collapse" id="{{artist.id}}">
							<div class="well">
								<div class="list-group" ng-repeat="album in albums" ng-controller="SongsCtrl">
									<a ng-href="" class="list-group-item" data-toggle="modal" data-target="#{{album.id}}" ng-click="getSongsFromAlbum(album.id)">
										<img ng-src="{{album.images[0].url}}" alt="" class="img-rounded" height="50" width="50">
										<h4 class="list-group-item-heading">{{album.name}}</h4>
									</a>

									<div id="{{album.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
										<div class="modal-dialog">

											<div class="modal-content">

												<div class="modal-body">
													<div class="row">
														<div class="col-md-6">
															<div class="voffset"></div>
															<img ng-src="{{album.images[0].url}}" alt="" class="img-rounded img-responsive">
														</div>
														<div class="col-md-6">
														<div class="caption">
															<h1>{{album.name}}</h1>
															<h4>by {{artist.name}}</h4>
															</div>
															
														</div>
													</div>
													<div class="voffset3">
														<div class="row">
															<div class="col-md-12">
																<div class="" >
																	<table class="table table-hover">
																		<thead>
																			<tr>
																				<th>N°</th>
																				<th>Title</th>
																				<th>Duration</th>
																				<th></th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr ng-repeat="song in songs" ng-href="" class="list-group-item" data-toggle="modal" data-target="#{{album.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true}">
																				<td class="text-left">
																					<b>{{song.track_number}}.</b>
																				</td>
																				<td class="">
																					{{song.name}}
																				</td>
																																								<td class="">
																					{{song.duration_ms}}
																				</td>
																				<td class="text-right text-nowrap">
																					<button class="btn btn-default btn-sm" ng-click="addSongToTheList(song)">
																						<span class="glyphicon glyphicon-plus" ></span>
																					</button>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>

												</div>

											</div>
											<!-- /.modal-content -->

										</div>
										<!-- /.modal-dialog -->
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>



		</div>
	</div>
</div>