<div class="container-fluid">

	<div class="row">

		<div ng-repeat="artist in artists">
			<div class="col-xs-6 col-sm-3 col-md-2" ng-controller="AlbumsCtrl">
				<a ng-href="" type="button" data-toggle="collapse" data-target="#{{artist.id}}" aria-expanded="false" aria-controls="{{artist.id}}" ng-click="getAlbumsFromArtist(artist.id)">
					<div class="square-container img-circle">
						<img ng-src="{{artist.images[0].url}}" alt="" class="img img-rounded img-responsive">
					</div>
				</a>
				<h4 align="center"><b>{{artist.name}}</b></h4>
				<div class="container-fluid">
					<div class="row">
						<div class="collapse" id="{{artist.id}}">
							<div class="well">
								<div class="list-group" ng-repeat="album in albums" ng-controller="SongsCtrl">
									<a ng-href="" class="list-group-item" data-toggle="modal" data-target="#{{album.id}}" ng-click="getSongsFromAlbum(album.id)">
										<img ng-src="{{album.images[0].url}}" alt="" class="img-rounded" height="50" width="50">
										<h4 class="list-group-item-heading">{{album.name}}</h4>
									</a>

									<div id="{{album.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
										<div class="modal-dialog">

											<div class="modal-content">

												<div class="modal-body">
													<div class="voffset">
														<img ng-src="{{album.images[0].url}}" alt="" class="img-rounded img-responsive">
														<div class="voffset3">
															<div class="list-group" ng-repeat="song in songs">
																<a ng-href="" class="list-group-item" data-toggle="modal" data-target="#{{album.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true}">
																	<h5 class="list-group-item-heading">{{song.track_number}}. {{song.name}} <span class="glyphicon glyphicon-plus" ng-click="addSongToTheList(song)"></span></h5>
																</a>
															</div>
														</div>
													</div>
												</div>

											</div>
											<!-- /.modal-content -->

										</div>
										<!-- /.modal-dialog -->
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>


	</div>
</div>