<form class="navbar-form navbar-left">								
				<input type="text" ng-model="query" ng-keyup="searchFor()" class="form-control" placeholder="Search">											
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" >
			<div class="panel panel-default">
				<div class="panel-heading">Songs</div>
				<div class="panel-body">
					<div ng-repeat="song in songs">
							{{song.name}}
						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Albums</div>
				<div class="panel-body">
					<div ng-model="albums">
						<div ng-repeat="album in albums">
							{{album.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Artists</div>
				<div class="panel-body">
					<div ng-model="artists">
						<div ng-repeat="artist in artists">
							{{artist.name}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>
</form>		
