<!--SONGS SEARCH RESULTS-->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Songs</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-hover ">
								<thead>
									<tr>
										<th></th>
										<th>Title</th>
										<th>By</th>
										<th>Album</th>
										<th>Duration</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="song in $root.songs">
										<td width="7%">
											<div class="square-container img drag" ng-href="" data-drag="true" data-target="#{{album.id}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true, placeholder:'keep'}">
												<a ng-href="" ><img n-href="" ng-src="{{song.album.images[0].url}}" alt="" class="img-rounded img-responsive">
													<i class="fa fa-play fa-2x  centered" ng-click="$root.handlePlayer(true, song.preview_url)"></i>
												</a>
											</div>
										</td>
										<td class="drag" ng-href="" data-drag="true" data-target="#{{album.id}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="$root.songs" jqyoui-draggable="{index: {{$index}},animate:true, placeholder:'keep'}">
											{{song.name}}
										</td>
										<td>
											{{song.artists[0].name}}
										</td>
										<td>
											{{song.album.name}}
										</td>
										<td>
											{{song.duration_ms /60000 | number:0}}m {{song.duration_ms /1000 % 60 | number:0}}s
										</td>
										<td class="text-right text-nowrap">

											<div class="btn-group">
												<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
													<span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
												</button>
														<ul class="dropdown-menu" role="menu">

																<table class="table">
																	<thead>
																		<th><h4>My Playlists</h4></th>																
																		<th></th>
																	</thead>
																	<tbody>
																		<tr ng-repeat="playlist in $root.playlists" ng-click="$root.addSongToPlaylist(playlist.id, song)">
																			<td>
																				<li><button class="btn btn-primary"><i class="fa fa-plus-circle "></i></button> <b>{{playlist.name}}</b></li>
																			</td>														
																			<td>
																				<li align="right"><i class="fa fa-music"></i> <b>{{playlist.playlist.songs.length}}</b></li>
																			</td>
																		</tr>
																	</tbody>																
																</table>
																
																<hr/>
																<div class="input-group">																	
																	<input type="text" ng-model="inputPlaylistName" class="form-control" ng-enter="$root.addNewPlaylist(inputPlaylistName)" placeholder="Create a new playlist!" id="focus" autofocus>

																	<span class="input-group-btn">
																		<button class="btn btn-primary" type="button" ng-click="$root.addNewPlaylist(inputPlaylistName)"><i class="fa fa-plus"></i>
																		</button>
																	</span>																	
																</div>
																<hr/>
																		<li style="text-align:center; "><span class="btn btn-primary" ng-click="$root.queue.push(song);"><i class="fa fa-sign-in fa-2x fa-rotate-90"></i> To the Queue</span></li>																					
															</ul>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--ALBUM SEARCH RESULTS	-->

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Albums</div>
				<div class="panel-body">
					<div ng-model="albums">
						<div class="row">
							<div ng-repeat="album in $root.albums">
								<div class="col-md-2">
									<div class="square-container img-rounded" ng-controller="SongsCtrl">
										<img ng-src="{{album.images[0].url}}" alt="" class="img-rounded img-responsive" ng-click="open(album)">
									</div>
									<h4><b>{{album.name}}</b></h4>
								<!--	<h5>by {{album.artist.name}} <i>artist name needed</i></h5> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--	ARTIST SEARCH RESULTS-->

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Artists</div>
				<div class="panel-body">
					<div ng-model="artists">
						<div class="row">
							<div ng-repeat="artist in $root.artists">
								<div class="col-md-2">
									<div class="thumbnail">
										<div class="square-container img-circle" ng-controller="ModalAlbumCtrl" ng-click="open(artist)">
											<img ng-src="{{artist.images[0].url}}" alt="" class="img img-rounded img-responsive" >
										</div>
									</div>
									<h2 class="text-center">{{artist.name}}</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>