<div class="modal-body">

	<div ng-include src="'views/artists.html'"></div>

	<ul>
		<li ng-repeat="item in albumsOfArtist">
			<a ng-click="selected.item = item">{{ item.name }}</a>
		</li>
	</ul>

	Selected album: <b>{{ selected.item.name }}</b>

<div ng-include src="'views/albums.html'"></div>
	
	<div ng-controller="CollapseAlbumCtrl">

		<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>

		<div collapse="!isCollapsed">
			<div class="well well-lg">

				<div ng-include src="'views/songs.html'"></div>

			</div>
		</div>
	</div>

</div>