<div class="container-fluid">
	<div class="row">

		<div class="col-xs-12 col-sm-3 col-md-2">
			<div class="thumbnail">
				<div class="square-container img-rounded">
					<i class="fa fa-plus fa-5x text-primary centered"></i>
				</div>
				<div class="voffset3"></div>
				<div class="input-group">
					<input type="text" ng-model="inputPlaylistName" class="form-control" ng-enter="addNewPlaylist(inputPlaylistName)" placeholder="Name & Create!">

					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" ng-click="addNewPlaylist(inputPlaylistName)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
					</span>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-sm-3 col-md-2" ng-repeat="playlist in playlists">
			<div class="thumbnail">

				<div class="square-container img-rounded" data-toggle="modal" data-target=".bs-example-modal-lg">

					<div class="top-left"></div>
					<div class="top-right"></div>
					<div class="bottom-left"></div>
					<div class="bottom-right"></div>
				</div>

				<div class="caption">
					<h4 align="center">{{playlist.name}}<a class="glyphicon glyphicon-trash pull-right"></a></h4>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="voffset3">
	</div>

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="row">
					<div class="col-md-12">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>N°</th>
									<th>Title</th>
									<th>Duration</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="song in listOfSongs">
									<td>
										<b>{{song.track_number}}.</b>
									</td>
									<td class="drag" ng-href="" data-toggle="modal" data-target="#{{album.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true}">
										{{song.name}}
									</td>
									<td>
										{{song.duration_ms}}
									</td>
									<td class="text-right text-nowrap">

										<div class="btn-group">
											<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
												<span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li><a ng-click="addSongToTheList(song)">Action</a>
												</li>
												<li><a>Another action</a>
												</li>
												<li><a>Something else here</a>
												</li>
											</ul>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>