<div class="caption">
	<button class="btn btn-primary col-md-12" ng-click="playAll($root.songs)"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play Album</button>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>N</th>
					<th>Preview</th>
					<th>Title</th>
					<th>Duration</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in $root.songs">
					<td style="vertical-align: middle">
						<b>{{song.track_number}}.</b>
					</td>
					<td>
						<i class="fa fa-play fa-1x center" ng-click="$root.handlePlayer(true, song.preview_url)"></i>
					</td>
					<td style="vertical-align: middle" class="drag" ng-href="" data-target="#{{album.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true, placeholder:'keep'}">
						{{song.name}}
					</td>
					<td style="vertical-align: middle">
						{{song.duration_ms /60000 | number:0}}m {{song.duration_ms /1000 % 60 | number:0}}s
					</td>
					<td class="text-right text-nowrap">
						<div class="btn-group" dropdown is-open="status.isopen">
							<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
								<span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="playlist in $root.playlists" ng-click="$root.addSongToPlaylist(playlist.id, song)"><a>{{playlist.name}} </a>
								</li>
								<div class="input-group">
									<input type="text" ng-model="inputPlaylistName" class="form-control" ng-enter="$root.addNewPlaylist(inputPlaylistName)" placeholder="Name & Create!">

									<span class="input-group-btn">
										<button class="btn btn-primary" type="button" ng-click="$root.addNewPlaylist(inputPlaylistName)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
										</button>
									</span>
								</div>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>