<div class="caption">
	<button class="btn btn-primary col-md-12" ng-click="playAll($root.songs)"><i class="fa fa-play"></i> Play Album</button>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>N</th>
					<th>Preview</th>
					<th>Title</th>
					<th>Duration</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in $root.songs">
					<td style="vertical-align: middle">
						<b>{{song.track_number}}.</b>
					</td>
					<td>
						<i class="fa fa-play fa-1x center" ng-click="$root.handlePlayer(true, song.preview_url)"></i>
					</td>
					<td style="vertical-align: middle" class="drag" ng-href="" data-target="#{{album.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true, placeholder:'keep'}">
						{{song.name}}
					</td>
					<td style="vertical-align: middle">
						{{song.duration_ms /60000 | number:0}}m {{song.duration_ms /1000 % 60 | number:0}}s
					</td>
					<td class="text-right text-nowrap">
						<div class="btn-group" dropdown is-open="status.isopen">
							<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
								<span class="fa fa-plus"></span> <span class="caret"></span>
							</button>
									<ul class="dropdown-menu" role="menu">

																<table class="table">
																	<thead>
																		<th><h4>My Playlists</h4></th>																
																		<th></th>
																	</thead>
																	<tbody>
																		<tr ng-repeat="playlist in $root.playlists" ng-click="$root.addSongToPlaylist(playlist.id, song)">
																			<td>
																				<li><button class="btn btn-primary"><i class="fa fa-plus-circle "></i></button> <b>{{playlist.name}}</b></li>
																			</td>														
																			<td>
																				<li align="right"><i class="fa fa-music"></i> <b>{{playlist.playlist.songs.length}}</b></li>
																			</td>
																		</tr>
																	</tbody>																
																</table>
																
																<hr/>
																<div class="input-group">																	
																	<input type="text" ng-model="inputPlaylistName" class="form-control" ng-enter="$root.addNewPlaylist(inputPlaylistName)" placeholder="Create a new playlist!" id="focus" autofocus>

																	<span class="input-group-btn">
																		<button class="btn btn-primary" type="button" ng-click="$root.addNewPlaylist(inputPlaylistName)"><i class="fa fa-plus"></i>
																		</button>
																	</span>																	
																</div>
																<hr/>
																		<li style="text-align:center; "><span class="btn btn-primary" ng-click="$root.queue.push(song);"><i class="fa fa-sign-in fa-2x fa-rotate-90"></i> To the Queue</span></li>																					
															</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>