<div class="caption">
	<button class="btn btn-primary col-md-12" type="submit"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play Album</button>
</div>

<div class="row">
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>N</th>
					<th>Title</th>
					<th>Duration</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="song in $root.songs">
					<td>
						<b>{{song.track_number}}.</b>
					</td>
					<td class="drag" ng-href="" data-target="#{{album.id}}" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="songs" jqyoui-draggable="{index: {{$index}},animate:true}">
						{{song.name}}
					</td>
					<td>
						{{song.duration_ms /60000 | number:0}}m {{song.duration_ms /1000 % 60 | number:0}}s
					</td>
					<td class="text-right text-nowrap">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">
								<span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li ng-repeat="playlist in playlists" ng-click="addSongToPlaylist(playlist.id, song)"><a>{{playlist.name}} </a>
								</li>
								<input type="text" ng-model="inputPlaylistName" class="form-control" ng-enter="addNewPlaylist(inputPlaylistName)" placeholder="Name & Create!">
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>